@model WebApplication5.Models.Korisnik

@{
    ViewData["Title"] = "IzmeniSifru";
}

<h1>IzmeniSifru</h1>

<h4>Korisnik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IzmeniSifru">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idkorisnika" />
          
            @*Da proveri neki *@


            @*potvrdi trenutnu sifru*@

            <div class="form-group"> @*nova sifra*@
                <label asp-for="@Model.Sifra" class="control-label"></label>
                <input asp-for="@Model.Sifra" class="form-control" required="required" placeholder="Nova sifra"/>
                <span asp-validation-for="@Model.Sifra" class="text-danger"></span>
            </div>
           
            @*<div class="form-group"> @*Potvrdi sifru*@
                @*<label asp-for="@Model.PotvrdaSifre" class="control-label">Potvrdi sifru</label>
                <input asp-for="@Model.PotvrdaSifre" class="form-control" required="required"  placeholder="Potvrdi novu sifru"/>
                <span asp-validation-for="@Model.PotvrdaSifre" class="text-danger"> </span>*@     
            @*</div>*@


            <div class="form-group">
                <input type="submit" value="Izmeni sifru" asp-action="" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
